/*  ************************************logo*********************** */
#logo{
margin-left: 40%;
}
@media only screen and (max-width: 600px) {
#logo{
margin-left: 10%;
}
}
body div img {
height: 96px;
width: 359px;
}
.carousel-item img{
height: 350px;
width: 100%;
}

/*  ************************************Blogs*********************** */
.left{
background-color: pink;
width: 90%
margin: 20px;
padding: 10px;
}
.left img{
height: 400px;
width: 100%;
padding: 20px;
}
#more {display: none;}

.text{
padding-top: 5px;
float: right;
min-width: 60%;
text-align: center;
color: white;
}

/* ************************************sidebar(social)**************************************** */

.icon{
float: left;
text-align: left;
color: white;
padding:1px;
height: 40px;
margin: 5px;
background: linear-gradient(to right,#354f88 0%, #354f88 19%,
#3b5998 19%,#3b5998 80%);
}
.icona{
float: left;
text-align: left;
color: white;
padding:1px;
}
.icona{
height: 40px;
margin: 5px;
background: linear-gradient(to right,#ce3e26 0%, #ce3e26 19%,
#de4c34 19%,#de4c34 80%);
}
.iconb{
float: left;
text-align: left;
color: white;
padding:1px;
}
.iconb{
height: 40px;
margin: 5px;
background: linear-gradient(to right,#40a2d1 0%, #40a2d1 19%,
#45b0e3 19%,#45b0e3 80%);
}
.side{
background-color: pink;
padding: 20px;
width:80%;
}
.side hr {
height: 2px;
background-image: linear-gradient(to right,#00ada7 0%, #00ada7 40%,
#f6f6f6 40%,#f6f6f6 95%);
border: 0;
}
.footer hr {
height: 2px;
background-image: linear-gradient(to right,#00ada7 0%, #00ada7 40%,
#f6f6f6 40%,#f6f6f6 95%);
border: 0;
}


@media only screen and (max-width: 600px) {
.side{
margin-top: 10px;
}
}
.side p{
margin-top: 40px;
text-align: center;
}


/* ***************************************news************************************ */
#news{
font-size: 30px;
text-align: center;
background-color: #00ada7;
height: 100px;
}
.news-letter{
position: relative;
}
.news-text{
margin-bottom: 40px;
}
.circle{
position: absolute;
top: 45px;
left: 95px;
border-radius:0;
width: 92px;
height: 92px;
}
.msg{
position: absolute;
top: 69px;
left: 120px;
border-radius: 0;
width: 40px;
height: 40px;
}
.border-circle{
color:#cccccc;
position: absolute;
top: 4px;
left: 93px;
font-size: 108px;
}
#email{
width: 100%;
margin: 10px;
height: 35px;
}
#Btn{
margin: 10px;
background-color: #00ada7;
width: 100%;
height: 35px;
}
/* ***************************************Author**************************************** */

#author{
margin-top: 60px;
font-size: 20px;
text-align: center;
background-color: #00ada7;
height: 145px;
}
#cir{
position: absolute;
margin-top: -50px;
margin-left: -47px;
border-radius:0;
width: 92px;
height: 92px;
}
#mg{
position: absolute;
margin-top: -23px;
margin-left:-20px;
border-radius: 0;
width: 40px;
height: 40px;
}
#bor{
position: absolute;
color: #cccccc;
margin-top: -90px;
margin-left:-48px;
font-size: 108px;
}
#author p{
padding-top: 50px;
}

/* *************************************************post************************* */
#post img{
padding: 10px;
width: 90%
}
/* **********************************label****************************************8 */
.labels{
height: 40px;
margin: 5px;
background: linear-gradient(to right,#00ada7 0%, #00ada7 73%,
#000000 73%,#000000 100%);
}
.label-text{
float: left;
min-width: 60%;
text-align: center;
color: white;
padding-top: 5px;
}
.label-num{
padding-top: 5px;
float: right;
min-width: 15%;
text-align: center;
color: white;
}
/* ********************************footer******************************** */
.footer{
background-color: black;
width: 100%;
color: white;
}
.footer img{
height: 120px;
width: 200px;
padding: 5px;
}
@media only screen and (max-width: 600px) {
.footer .row .ft{
padding: 4%;
}
}
@media only screen and (max-width: 600px) {
.footer .row .ftr{
padding: 4%;
}
}
video{
margin: 30px;
height: 220px;
width: 75%;
}
#credit{
font-size: 20px;
padding: 30px;
height: 100px;
width: 100%;
text-align: center;
background-color: #161616;
color: white;
}